.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem

.venv/
__pycache__/
*.pyc
.aws/
.kube/
.terraform/
terraform.tfstate
terraform.tfstate.*
*.zip
aws/
eksctl-temp/
helm-temp/
*.exe



